*{
    margin: 0;
    box-sizing: border-box;
    font-family: Jazz LET, fantasy;
}

:root{
    --orange:rgb(201, 116, 5);
    --dark-brown:rgb(139, 107, 46);
    --dark-orange:rgb(221, 168, 54);
    --dark-blue:rgb(5, 45, 119);
    --blue:rgb(7, 49, 126);
    --blanchedalmond:blanchedalmond;
    --light-orange:rgb(245, 195, 88);
    --dark-crimson :rgb(43, 33, 33);
    --stripsheight: 12vh;
    --light-blue: rgb(183, 224, 240) ; 
}

#projects{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 60px;
    margin:60px 120px 60px 120px;
    height: 80px;
    padding-top: 20px;
}

article{
    height: calc(100vh - var(--stripsheight));
    display: flex;
    flex-wrap: wrap;
}

article section {
    width: calc(100vw/3);
    border: 4px solid var(--blue);
}

h2{
    padding-top: 5px;
    text-align: center;
    color: var(--orange );
    font-weight: 700;
    font-size: 28px;
}

.project{
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.sec{
    display: inline-block;
    background-color:var(--light-blue)
}

.sec form{
    text-align: center;
}

#button1{
    margin: 10px;
    animation:bouncy 7s infinite linear;
    position:relative;
    display:inline-block;
    text-decoration:none;
    transition: all 0.25s;
    padding:0.3em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    background-color: var(--light-blue);
    border:0.12em solid var(--blue);
}
  
#button1:hover{
    color:var( --orange);
    background-color:var(--blue);
    border:0.12em solid var(--light-blue);
}

#button2{
    margin: 10px;
    animation:bouncy 7s infinite linear;
    position:relative;
    display:inline-block;
    text-decoration:none;
    transition: all 0.25s;
    padding:0.3em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    background-color: var(--light-blue);
    border:0.12em solid var(--blue);
}
  
#button2:hover{
    color:var( --orange);
    background-color:var(--blue);
    border:0.12em solid var(--light-blue);
}

@keyframes bouncy{
    10%{top:0em}
    35%{top:0.2em}
    40%{top:-1em}
    42%{top:0.2em}
    44%{top:-0.3em}
    46%{top:0em}
    80%{top:0em;}
}